body {
    background-image: url("/img/bg.jpg");
}

.container-table100 {
    align-items: center;
    justify-content:center;
    flex-wrap:wrap;
    display: block;
    padding:33px 30px
}

.container-button-table-page{
    width:100%;
    display:-webkit-box;
    display:-webkit-flex;
    display:-moz-box;
    display:-ms-flexbox;
    display:flex;
    flex-wrap:wrap;
    justify-content:center;
    padding-bottom: 20px;
}

.button-table-page {
    width:100%;
    min-height:5vh;
    font-family: Montserrat, sans-serif;
    margin-left: 30px;
    margin-right: 30px;
    display:inline-flex;
    justify-content:center;
    font-size:15px;
    line-height:1.5;
    color:#fff;
    text-transform:uppercase;
    height:50px;
    border-radius:25px;
    background:#57b846;
    display:-webkit-box;
    display:-webkit-flex;
    display:-moz-box;
    display:-ms-flexbox;
    display:flex;
    align-items:center;
    padding:0 25px;
    -webkit-transition:all .4s;
    -o-transition:all .4s;
    -moz-transition:all .4s;
    transition:all .4s
}

.button-table-page:hover, .button-table-edit:hover, .button-table-delete:hover, .button-table-view:hover {
    background:#333
}

.status-valid {
    width:100%;
    min-height:5vh;
    font-family: Montserrat, sans-serif;
    justify-content:center;
    font-size:15px;
    line-height:1.5;
    color:#fff;
    text-transform:uppercase;
    height:50px;
    border-radius:30px;
    background: #57b846;
    display:flex;
    align-items:center;
    padding:0 10px;
    -webkit-transition:all .4s;
    -o-transition:all .4s;
    -moz-transition:all .4s;
    transition:all .4s
}

.status-invalid {
    width:100%;
    min-height:5vh;
    font-family: Montserrat, sans-serif;
    justify-content:center;
    font-size:15px;
    line-height:1.5;
    color:#fff;
    text-transform:uppercase;
    height:50px;
    border-radius:30px;
    background: #fd2c2c;
    display:flex;
    align-items:center;
    padding:0 10px;
    -webkit-transition:all .4s;
    -o-transition:all .4s;
    -moz-transition:all .4s;
    transition:all .4s
}

.status-disabled {
    width:100%;
    min-height:5vh;
    font-family: Montserrat, sans-serif;
    justify-content:center;
    font-size:15px;
    line-height:1.5;
    color:#fff;
    text-transform:uppercase;
    height:50px;
    border-radius:30px;
    background: #646160;
    display:flex;
    align-items:center;
    padding:0 10px;
    -webkit-transition:all .4s;
    -o-transition:all .4s;
    -moz-transition:all .4s;
    transition:all .4s
}

.button-cancel-action {
    font-family:Montserrat, sans-serif;
    font-size:15px;
    line-height:1.5;
    color:#fff;
    text-transform:uppercase;
    width:100%;
    height:50px;
    border-radius:25px;
    background:#b84646;
    display:-webkit-box;
    display:-webkit-flex;
    display:-moz-box;
    display:-ms-flexbox;
    display:flex;
    justify-content:center;
    align-items:center;
    padding:0 25px;
    -webkit-transition:all .4s;
    -o-transition:all .4s;
    -moz-transition:all .4s;
    transition:all .4s
}

.button-table-edit {
    width:70%;
    min-height:5vh;
    font-family: Montserrat, sans-serif;
    justify-content:center;
    font-size:15px;
    line-height:1.5;
    color:#fff;
    text-transform:uppercase;
    height:50px;
    border-radius:30px;
    background: #eccf6a;
    display:flex;
    align-items:center;
    padding:0 40px;
    -webkit-transition:all .4s;
    -o-transition:all .4s;
    -moz-transition:all .4s;
    transition:all .4s
}

.button-table-delete {
    width:100%;
    min-height:5vh;
    font-family: Montserrat, sans-serif;
    display: flex;
    justify-content:center;
    font-size:15px;
    line-height:1.5;
    color:#fff;
    text-transform:uppercase;
    height:50px;
    border-radius:30px;
    background: #b84646;
    align-items:center;
    padding:0 20px;
    -webkit-transition:all .4s;
    -o-transition:all .4s;
    -moz-transition:all .4s;
    transition:all .4s
}

.button-table-view {
    width:100%;
    min-height:5vh;
    font-family: Montserrat, sans-serif;
    justify-content:center;
    font-size:15px;
    line-height:1.5;
    color:#fff;
    text-transform:uppercase;
    height:50px;
    border-radius:30px;
    background: #467fb8;
    display:flex;
    align-items:center;
    padding:0 25px;
    -webkit-transition:all .4s;
    -o-transition:all .4s;
    -moz-transition:all .4s;
    transition:all .4s
}

.wrap-table100 {
    width:auto;
}

table {
    border-spacing: 1;
    border-collapse:collapse;
    background:#fff;
    border-radius:15px;
    overflow:hidden;
    width:100%;
    margin:0 auto;
    position:relative
}
table * {
    position:relative
}
table td,table th {
    padding-left:8px
}
table thead tr {
    height:60px;
    background:#36304a
}
table tbody tr {
    height:70px
}
table tbody tr:last-child {
    border:0
}
table td,table th {
    text-align:center;
}
table td.l,table th.l {
    text-align:center;
}
table td.c,table th.c {
    text-align:center
}
table td.r,table th.r {
    text-align:center
}

.table100-head th {
    font-family: "Open Sans", sans-serif;
    font-size:18px;
    color:#fff;
    line-height:1.2;
    font-weight:unset
}
tbody tr:nth-child(even) {
    background-color:#f5f5f5
}
tbody tr {
    font-family: "Open Sans", sans-serif;
    font-size:15px;
    color:gray;
    line-height:1.2;
    font-weight:unset
}
tbody tr:hover {
    color:#555;
    background-color:#f5f5f5;
    cursor:pointer
}

.column_id {
    width:100px;
    text-align: center;
}

.column_email {
    width: auto;
    text-align: left;
}

.column_address {
    width: auto;
    text-align: center;
    padding-right: 40px;
}

.column_cnpj {
    width:150px;
    text-align: left;
}

.column_ie {
    width: 200px;
    text-align: center;
}

.column_razao {
    width: 400px;
    text-align: center;
}

.column_tel {
    width: 200px;
}

.column-specie-name {
    width: 1400px;
    text-align: center;
}

.column-actions {
    width: 10px;
    align-content: center;
}

@media screen and (max-width:992px){
    table{
        display:block
    }
    table>*,table tr,table td,table th{
        display:block
    }
    table thead{
        display:none
    }
    table tbody tr{
        height:auto;
        padding:37px 0
    }
    table tbody tr td{
        padding-left:40%!important;
        margin-bottom:24px
    }
    table tbody tr td:last-child{
        margin-bottom:0
    }
    table tbody tr td:before{
        font-family: OpenSans-Regular, sans-serif;
        font-size:14px;
        color:#999;
        line-height:1.2;
        font-weight:unset;
        position:absolute;
        width:40%;
        left:30px;
        top:0
    }

    .column4, .column5, .column6 {
        text-align:left
    }

    .column4, .column5, .column6, .column1, .column2, .column3 {
        width:100%
    }

    tbody tr {
        font-size:14px
    }

}
@media(max-width:576px) {
    .container-table100 {
        padding-left:15px;
        padding-right:15px
    }
}
